#!/usr/env/python
PACKAGE = 'my_dyn_rec'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#List of parameters
gen.add('distance', double_t, 0, "minimum distance of points", 10.0, 0.0, 100.0)


exit(gen.generate(PACKAGE, "my_dyn_rec", "MyParams"))